@mixin table {
    @media screen and  (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media screen and  (max-width: 480px) {
        @content;
    }
}

.wrapper {
    background-color: #2b2741;
    width: 50%;

    @include table {
        width: 70%;
    }

    @include mobile {
        display: none;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 10px 20px;
    background-color: #3e3c61;
    color: var(--white-color);
}