.wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 9px 16px;
    min-width: 100px;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper{
        margin-left: 8px;
    }

    &.disabled{
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .text-btn, .text-btn + .icon{
    margin-left: 8px;
}

.icon {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}

// BUTTON TYPE

.rounded{
    border-radius: 999px;
    box-shadow: 0 2px 8px rgba(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.3);

    &:hover {
        border-color: rgba(22, 24, 35, .2);
        background-color: rgba(255, 255, 255, 1);
    }
}


.primary{
    color: var(--white-color);
    background-color: var(--primary);
    border-color: var(--primary);
    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    }
}
.outline{
    color: var(--primary);
    border-color: currentColor;
    
    &:hover{
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text{
    &:hover {
        text-decoration: underline;
    }
}


.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}

.followed {
    color: var(--black-color);
}
