.wrapper {
    background-color: var(--primary);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 75%;
    height: 80%;
    overflow: hidden;
}