@mixin table {
    @media screen and  (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media screen and  (max-width: 480px) {
        @content;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2f2d52;
    height: 70px;
    padding: 10px;
}

.logo {
    font-weight: 600;
    color: var(--white-color);
    @include table {
        display: none;
    }

    @include mobile {
        display: block;
    }
}

.user {
    display: flex;
    align-items: center;

    .avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
    }
    
    .logout {
        padding: 15px;
        background-color: #5d5b8d;
        color: var(--white-color);
        font-size: 1rem;
        border: none;
        margin-left: 5px;
    }
}