.modal {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal.close {
    display: none;
}


.wrapper-modal {
    position: relative;
    border-radius: 8px;
    max-height: 693px;
    height: 200px;
    overflow: hidden;
}

.inner-modal {
    width: 483px;
    height: 100%;
    background: white;
    padding: 32px 0 0;
    display: flex;

    .title {
        font-size: 1.6rem;
        position: absolute;
        left: 15px;
        top: 25px;
        color: #2f2d52;
        font-weight: bold;
    }
}

.icon-close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    text-align: right;
    padding: 10px;
    border-radius: 50%;
    background: rgba(22, 24, 35, 0.03);
    cursor: pointer;
}

.content {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.info {
    margin-left: 20px;
    p {
        margin-bottom: 10px;
    }
    .text {
        margin-left: 20px;
        color: var(--primary);
    }
}

