@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

:root {
    --primary: #a7bcff;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #161823;
}

// SCROLLBAR
html ::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html ::-webkit-scrollbar-thumb {
    background-color: rgba(22, 24, 35, .06);
    border-radius: 4px;
}

html ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
}

html {
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}


@mixin table {
    @media screen and  (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media screen and  (max-width: 480px) {
        @content;
    }
}
