.message {
    display: flex;
    gap: 10px;
    margin: 10px;

    .message-info {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        color: lightgray;
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    
    .message-content {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        p {
            max-width: max-content;
            background-color: var(--white-color);
            padding: 10px;
            border-radius: 0px 10px 10px 10px;
        }

        .message-img {
            width: 200px;
        }
    }

    &.owner {
        flex-direction: row-reverse;
        p {
            max-width: max-content;
            background-color: #8da4f1;
            color: var(--white-color);
            border-radius: 10px 0px 10px 10px;
        }
    }
}



